@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgba(70,130,180,.7);
}

.logo{
	margin-left: 42%;
	height: 15%;
	width: 29%;
}

.logo img{
	height: 100%;
	width: auto;
}

.corpo{
	width: 50%;
	height: 79%;
	margin: 4% 24%;
	padding: 1%;
	background-color: rgba(232,232,232,.9);
	float: left;
	box-shadow: 0 0 23px black, inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
	position: absolute;
	
 	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	-o-border-radius:9px;
	-ms-border-radius:9px;
 	border-radius:9px; 
}

.corpo p{
	color: red;
	margin-left: 12%;
	font-size: 0.7em;
	display: none;
}

.telaLogin{
	width: 97%;
	height: 97%;
	margin:0 1%;
	margin-bottom: 10%;
	position: relative;
}

.Formulario{
	position: relative;
	margin: 2% 0 0 10%;
}

.inputCFornecedor{
	position: relative;
	padding: 0.5%;
	margin-bottom: 1%;
}

.labelCFornecedor{
	position: relative;
	font-size: 1.2em;
}

.inputCFornecedor1{
	position: relative;
	padding: 0.5%;
	margin-right: 5%;
}

.labelCFornecedor1{
	position: relative;
	font-size: 1.2em;
	margin-right: 54%;
}

.inputCFornecedorT{
	position: relative;
	padding: 0.5%;
	margin-right: 45%;
}

.labelCFornecedorT{
	position: relative;
	font-size: 1.2em;
	margin-right: 49.3%;
}

.pessoaJuridica{
	display: none;
}

#required:after{
	content: " *";
	color: red;
}

.botao{
	padding: 1% 8%;
	margin-top: 1%;
	margin-left: 2%;
	width:35%;
	float:left;
	border-style: none;
	font-size: 1em;
	
	background-color: rgba(135,206,235,.4);
	box-shadow: 0 0 6px black, inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
 	border-radius:6px;
 	
 	-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.botao1{
	padding: 1% 0 1% 15%;
	margin-top: 1%;
	margin-left: 17%;
	width:22%;
	float:left;
	color: black;
	font-size: 1.1em;
	
	background-color: rgba(135,206,235,.4);
	box-shadow: 0 0 6px black, inset 0 2px 3px 0 rgba(255,255,255,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
 	border-radius:6px;
 	
 	-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


.botao1:hover{
	cursor: pointer;
}

.botao1:active{
	background-color: rgba(70,130,180,.9);
	box-shadow: 0 0 6px black, inset 0 2px 3px 0 rgba(70,130,180,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
	color: white;
}

.botao:hover{
	cursor: pointer;
}

.botao:active{
	background-color: rgba(70,130,180,.9);
	box-shadow: 0 0 6px black, inset 0 2px 3px 0 rgba(70,130,180,.3), inset 0 -3px 6px 0 rgba(0,0,0,.2), 0 3px 2px 0 rgba(0,0,0,.2);
	color: white;
}

.popupExt{
	z-index:10;
	height: 100px;
	width: 150px;
	background-color: white;
	border-top:10px solid white;
    border-right:10px solid transparent;
    background-clip: padding-box;
    position: absolute;
    margin:437px 0 0 490px;
	border-top:15px solid white;
    border-right:25px solid transparent;
    background-clip: padding-box;
    float:left;
    border-radius: 10px;
    display:none;
}

.popup{
	height: 100%;
	width: 100%;
	color:red;
	position: relative;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1) 10%, rgba(255,0,0,.25));
    border-radius: 10px 10px 0 10px;
}

.aviso{
	margin: 6px 0 0 3px;
	text-align: center;
	float: left;
}

.fechar{
	position: relative;
	width: 17px;
	float:left;
	top:-15px;
	height: auto;
}

.fechar:hover{
	cursor: pointer;
}