@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

.Formulario{
	position: relative;
	margin: 10% 0 0 10%;
}

#Formulario{
	display: none;
}

.inputCProduto{
	position: relative;
	padding: 0.5%;
	margin-bottom: 1%;
}

.labelCProduto{
	position: relative;
	font-size: 1.2em;
}