@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

.visualizarProduto2{
	position: relative;
	background-color: rgba(50,205,50,1);
	text-align: center;
	width: 94%;
	margin: 4% 0 0 3%;
	color: white;
}

.visualizarProduto{
	position: relative;
	width: 100%;
}

.visualizarProduto td{
	padding: 1%;
}

.visualizar{
	height: 60%;
}

.dados{
	background-color: rgba(255,255,255,1);
	text-align: left;
	color:black;
	
	-webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.selecionar{
	position: relative;
	background-color: white;
	border-style: none;
	height: 30px;
	width: auto;
	margin: 4% 0 -4% 20.5%;
}

.selecionar img{
	height: 100%;
	width: auto;
}

.selecionar:hover{
	cursor: pointer;
}